# Unity generated
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# VS/MD specific
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Gradle specific
.gradle/
build/

# Android Studio specific
*.iml
.idea/

# Visual Studio Code specific
.vscode/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db